<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CreateNewNuGetPackageFromProjectAfterEachBuild" version="1.8.11" targetFramework="net45" developmentDependency="true" />
  <package id="fastJSON" version="2.1.24" targetFramework="net45" />
  <package id="Krystalware.UploadHelper" version="1.0.0" targetFramework="net45" />
  <package id="Microsoft.Web.Xdt" version="2.1.1" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net45" />
  <package id="NLipsum" version="1.1.0" targetFramework="net45" />
  <package id="NuGet.Core" version="2.14.0" targetFramework="net45" />
  <package id="NUnit" version="3.7.1" targetFramework="net45" />
  <package id="NUnit3TestAdapter" version="3.7.0" targetFramework="net45" />
  <package id="Selenium.RC" version="3.1.0" targetFramework="net45" />
  <package id="Selenium.Support" version="3.4.0" targetFramework="net45" />
  <package id="Selenium.WebDriver" version="3.4.0" targetFramework="net45" />
  <package id="Selenium.WebDriver.ChromeDriver" version="2.30.0.1" targetFramework="net45" />
  <package id="Selenium.WebDriverBackedSelenium" version="3.4.0" targetFramework="net45" />
  <package id="SpecFlow" version="2.2.0" targetFramework="net45" />
</packages>